header {
    background: #1abc9c;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover{
    color: #570202;
  }
  


  